version: 2
jobs:
  download:
    docker:
      - image: alpine:3.9
    steps:
      - run:
          command: |
            apk add git
            git clone https://gitlab.parity.io/parity/parity-ethereum.git/ parity-ethereum
            cd parity-ethereum
            git submodule update --init --recursive
      - persist_to_workspace:
          root: .
          paths:
            - parity-ethereum/*

  build:
    docker:
      - image: parity/rust-parity-ethereum-build:xenial
    steps:
      - attach_workspace:
          at: .
      - run:
          command: |
            FEATURES="json-tests,ci-skip-tests"
            OPTIONS="--release"
            #use nproc `linux only
            THREADS=$(nproc)

            cd parity-ethereum

            time cargo test $OPTIONS --no-run --features "$FEATURES" --locked --all --target $CARGO_TARGET -- --test-threads $THREADS

  build_test:
    docker:
      - image: parity/rust-parity-ethereum-build:xenial
    steps:
      - attach_workspace:
          at: .
      - run:
          command: |
            FEATURES="json-tests,ci-skip-tests"
            OPTIONS="--release"
            #use nproc `linux only
            THREADS=$(nproc)

            cd parity-ethereum

            time cargo test $OPTIONS --features "$FEATURES" --locked --all --target $CARGO_TARGET -- --test-threads $THREADS

workflows:
  version: 2
  circle_cache_test:
    jobs:
      - download
      - build:
          requires:
            - download
      - build_test:
          requires:
            - download
